<%- include ("./partials/headers.ejs") %>

<div class="container">
    <div class="row">
      <div class="col-sm-3 mt-5">
      </div>
        <div class="col-sm-5 mt-5">
            <form method="post" action="/">
                <div class="mb-3 mt-5">
                    <span style="font-size: 60px ; margin-left:150px;"><b>Login</b></span>
                    <div class="mb-3 mt-4">
                        <label for="username" class="form-label">Username</label>
                        <input type="email" class="form-control" id="username" name="username"  placeholder="">
                        <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                         <input type="password" class="form-control" id="password" name="password" placeholder="">
                          </div>
                      </div>
                <button type="submit" class="btn btn-primary ">Submit</button>
                <span style="color:red; margin-left:100px;"><%= loginerror %></span><br>
                -----------------------------------or---------------------------------
                <button  class="btn btn-warning "><a href="/signup/" style="text-decoration: none;
                    ">SignUp</a></button>
              </form>
        </div>
    </div>
</div>
<%- include ("./partials/footers.ejs") %>