<%- include ("./partials/headers.ejs") %>

<div class="container">
    <div class="row">
      <div class="col-sm-3 mt-5">
      </div>
        <div class="col-sm-5 mt-5">
            <form method="post" action="/signup">
                <div class="mb-3">
                    <span style="font-size: 60px ; margin-left:150px;"><b>Sign Up</b></span>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name"  placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="age" name="age"  placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        <input type="email" class="form-control" id="username" name="username"  placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                         <input type="password" class="form-control" id="password" name="password" placeholder="">
                    </div>
                
                <button type="submit" class="btn btn-primary">Submit</button><br>
              </form>
              -----------------------------------or---------------------------------
                <button  class="btn btn-warning "><a href="/" style="text-decoration: none;
                    ">Login</a></button>
        </div>
    </div>
</div>
<%- include ("./partials/footers.ejs") %>